body {
  margin: 0;
  font-family: Arial;
  background: #f2f6f9;
}

.container {
  display: flex;
  max-width: 900px;
  margin: 20px auto;
  background: white;
}

/* LEFT */
.left {
  width: 35%;
  background: #6ea8b3;
  color: white;
  padding: 20px;
}

.left h3 {
  border-bottom: 1px solid white;
}

.left ul {
  padding-left: 20px;
}

/* RIGHT */
.right {
  width: 65%;
  padding: 20px;
}

.right h1 {
  margin: 0;
}

.right h2 {
  color: #6ea8b3;
}
